.breadcrumb {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    padding: 0.5rem 0;
}

.breadcrumb-item::after {
    content: '/';
    margin-left: 0.5rem;
}

.breadcrumb-item.active {
    color: var(--primary-light);
    pointer-events: none;
}
