.avatar {
    aspect-ratio: 1;
    width: 6rem;
    border-radius: 50%;
    background-color: var(--background);
    margin-bottom: 2rem;
    display: grid;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

span {
    color: var(--h3-color);
    font-size: 2rem;
}
