.qbutton {
    background-color: var(--button);
    color: var(--primary-text);
    padding: 0.75rem 1.25rem;
    font-size: 1rem;
    border: none;
    line-height: 1rem;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    width: 3rem;
}

.qbutton.transparent {
    background-color: transparent;
}

.qbutton .hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    pointer-events: none;
    transition: all 200ms ease-in-out;
}

.qbutton:hover > .hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.qbutton:not(.transparent).primary {
    background-color: var(--primary);
}

.qbutton.has-shadow {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.qbutton.is-circle {
    aspect-ratio: 1;
    padding: 0.75rem;
    border-radius: 50%;
}

.qbutton.as-link > a:hover {
    color: var(--primary-text);
}

.qbutton.size-small {
    width: 2.5rem;
}

.qbutton.size-large {
    width: 4rem;
}

.qbutton.full-width {
    width: 100%;
}

.button-container {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
}
