.projects-header {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
}

.action-buttons {
    display: inline-grid;
    grid-auto-flow: column;
}

table {
    border-spacing: 0;
}

thead tr {
    height: 3.5rem;
    color: var(--h2-color);
    font-weight: normal;
}

th {
    background-color: #444444;
}

thead tr th {
    text-align: left;
}

th,
td {
    padding: 0.5rem 1rem;
}

th,
td {
    border-bottom: 1px solid var(--hr);
}

tr:hover {
    background-color: #5c5c5c;
}
