.project-layout {
    position: relative;
    display: grid;
    grid-template-columns: 200px 1fr;
    height: 100%;
}

.content {
    position: relative;
}

.canvas-container {
    position: absolute;
    width: 100%;
    height: 100%;
}
